# Basics

In [1]:
# abrir bibliotecas
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
basics = pd.read_csv('C:/Users/afilg/OneDrive/√Årea de Trabalho/DATA SCIENCE/Aulas - Originais/Projeto_Integrador/Dados/basics.tsv', header=0 , quotechar='"', error_bad_lines=False, sep = '\t')
basics.head().T

C:\Users\afilg\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4
tconst,tt0000001,tt0000002,tt0000003,tt0000004,tt0000005
titleType,short,short,short,short,short
primaryTitle,Carmencita,Le clown et ses chiens,Pauvre Pierrot,Un bon bock,Blacksmith Scene
originalTitle,Carmencita,Le clown et ses chiens,Pauvre Pierrot,Un bon bock,Blacksmith Scene
isAdult,0,0,0,0,0
startYear,1894,1892,1892,1892,1893
endYear,\N,\N,\N,\N,\N
runtimeMinutes,1,5,4,12,1
genres,"Documentary,Short","Animation,Short","Animation,Comedy,Romance","Animation,Short","Comedy,Short"

In [3]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6834111 entries, 0 to 6834110
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         int64
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: int64(1), object(8)
memory usage: 469.3+ MB

In [4]:
basics['titleType'].value_counts()

tvEpisode       4871527
short            741249
movie            551355
video            265838
tvSeries         184519
tvMovie          121206
tvMiniSeries      31099
tvSpecial         29202
videoGame         25559
tvShort           12557
Name: titleType, dtype: int64

In [5]:
basics = basics[basics.titleType == 'movie']

In [6]:
basics = basics[basics.isAdult == 0]

In [7]:
basics['startYear'].value_counts()

\N      63869
2017    18118
2016    17689
2018    17522
2015    16609
        ...
1993        1
1989        1
1987        1
1981        1
2014        1
Name: startYear, Length: 223, dtype: int64

In [8]:
basics_null = basics[basics.startYear == r'\N']

In [9]:
basics = basics[basics.startYear != r'\N']

In [10]:
basics_null.shape

(63869, 9)

In [11]:
basics_null.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
95292,tt0097416,movie,Kadhalan,Kadhalan,0,\N,\N,168,"Action,Drama,Romance"
109186,tt0111597,movie,The Veiled Hope,The Veiled Hope,0,\N,\N,52,Documentary
115884,tt0118530,movie,18,18,0,\N,\N,\N,Romance
116315,tt0118981,movie,Dil Deewana Maane Na,Dil Deewana Maane Na,0,\N,\N,\N,"Drama,Romance"
118079,tt0120892,movie,Winding Stair,Winding Stair,0,\N,\N,\N,Thriller

In [12]:
basics_null.genres.value_counts()

Drama                          13227
Comedy                          5675
Thriller                        4782
Documentary                     4768
Horror                          4089
                               ...
Animation,Documentary,Sport        1
Adventure,Music                    1
Fantasy,Thriller,War               1
Family,Fantasy,Mystery             1
Adventure,Horror,Romance           1
Name: genres, Length: 800, dtype: int64

In [13]:
basics.shape

(478687, 9)

In [14]:
basics.head(2).T

                       8                              145
tconst           tt0000009                      tt0000147
titleType            movie                          movie
primaryTitle    Miss Jerry  The Corbett-Fitzsimmons Fight
originalTitle   Miss Jerry  The Corbett-Fitzsimmons Fight
isAdult                  0                              0
startYear             1894                           1897
endYear                 \N                             \N
runtimeMinutes          45                             20
genres             Romance         Documentary,News,Sport

In [15]:
basics['startYear'] = basics['startYear'].astype(int)

In [16]:
basics.shape

(478687, 9)

In [17]:
basics = basics.drop(['endYear', 'isAdult'], axis = 1)

In [18]:
basics.shape

(478687, 7)

In [19]:
basics.startYear.value_counts()

2017    18118
2016    17689
2018    17522
2015    16609
2019    16026
        ...
2026        4
2025        4
1897        2
1894        1
2115        1
Name: startYear, Length: 133, dtype: int64

In [20]:
basics.runtimeMinutes.value_counts()

\N      140673
90       22853
80        9810
85        9675
95        9308
         ...
384          1
761          1
1428         1
551          1
345          1
Name: runtimeMinutes, Length: 462, dtype: int64

In [21]:
basics = basics[basics.runtimeMinutes != r'\N']

In [22]:
basics = basics[basics.genres != r'\N']

In [23]:
basics.genres.value_counts()

Drama                       57298
Documentary                 53480
Comedy                      26552
Comedy,Drama                 8998
Drama,Romance                8486
                            ...
Documentary,News,Western        1
Music,Mystery,Western           1
Comedy,History,Sport            1
Family,Mystery,Romance          1
Documentary,Mystery,War         1
Name: genres, Length: 1258, dtype: int64

In [24]:
basics.shape

(315189, 7)

In [25]:
basics.shape

(315189, 7)

In [26]:
basics[['genre_1','genre_2', 'genre_3']] = basics.genres.str.split(",",expand=True,)
basics.head(2).T

                       8                              145
tconst           tt0000009                      tt0000147
titleType            movie                          movie
primaryTitle    Miss Jerry  The Corbett-Fitzsimmons Fight
originalTitle   Miss Jerry  The Corbett-Fitzsimmons Fight
startYear             1894                           1897
runtimeMinutes          45                             20
genres             Romance         Documentary,News,Sport
genre_1            Romance                    Documentary
genre_2               None                           News
genre_3               None                          Sport

In [27]:
basics = basics.drop([ 'genres'], axis = 1)

In [28]:
basics.head().T

,8,145,571,673,1173
tconst,tt0000009,tt0000147,tt0000574,tt0000679,tt0001184
titleType,movie,movie,movie,movie,movie
primaryTitle,Miss Jerry,The Corbett-Fitzsimmons Fight,The Story of the Kelly Gang,The Fairylogue and Radio-Plays,Don Juan de Serrallonga
originalTitle,Miss Jerry,The Corbett-Fitzsimmons Fight,The Story of the Kelly Gang,The Fairylogue and Radio-Plays,Don Juan de Serrallonga
startYear,1894,1897,1906,1908,1910
runtimeMinutes,45,20,70,120,58
genre_1,Romance,Documentary,Biography,Adventure,Adventure
genre_2,None,News,Crime,Fantasy,Drama
genre_3,None,Sport,Drama,None,None

In [29]:
basics['movieyear'] = basics.startYear.astype(str) + basics.primaryTitle

In [30]:
basics.to_csv('basics.csv')