# Crew

In [1]:
# abrir bibliotecas
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
crew = pd.read_csv('C:/Users/afilg/OneDrive/√Årea de Trabalho/DATA SCIENCE/Aulas - Originais/Projeto_Integrador/Dados/crew.tsv', header=0 , quotechar='"', error_bad_lines=False, sep = '\t')
crew.head().T

                   0          1          2          3          4
tconst     tt0000001  tt0000002  tt0000003  tt0000004  tt0000005
directors  nm0005690  nm0721526  nm0721526  nm0721526  nm0005690
writers           \N         \N         \N         \N         \N

In [3]:
basics_simple = pd.read_csv('C:/Users/afilg/OneDrive/DATA SCIENCE/Aulas - Originais/Projeto_Integrador/basics_simple.csv')

In [4]:
crew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6834111 entries, 0 to 6834110
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   tconst     object
 1   directors  object
 2   writers    object
dtypes: object(3)
memory usage: 156.4+ MB

In [5]:
crew = crew.join(basics_simple.set_index('tconst'), on = 'tconst', how = 'inner')

In [6]:
crew.shape

(212924, 9)

In [7]:
crew[crew.tconst == 'tt0120630']

,tconst,directors,writers,Unnamed: 0,Unnamed: 0.1,startYear,movieyear,averageRating,numVotes
117874,tt0120630,"nm0520485,nm0661910","nm0520485,nm0661910,nm0456732,nm0123666,nm0640976",67572,117874,2000,2000Chicken Run,7.0,171911

In [8]:
crew.shape

(212924, 9)

In [9]:
crew['new_directors'] = crew['directors'].str.slice(0, 19)

In [10]:
crew['new_writers'] = crew['writers'].str.slice(0, 19)

In [11]:
crew.head().T

,8,145,571,673,1173
tconst,tt0000009,tt0000147,tt0000574,tt0000679,tt0001184
directors,nm0085156,nm0714557,nm0846879,"nm0877783,nm0091767","nm0550220,nm0063413"
writers,nm0085156,\N,nm0846879,"nm0000875,nm0877783",nm0049370
Unnamed: 0,0,1,2,3,4
Unnamed: 0.1,8,145,571,673,1173
startYear,1894,1897,1906,1908,1910
movieyear,1894Miss Jerry,1897The Corbett-Fitzsimmons Fight,1906The Story of the Kelly Gang,1908The Fairylogue and Radio-Plays,1910Don Juan de Serrallonga
averageRating,5.9,5.2,6.1,5,3.1
numVotes,153,346,574,35,11
new_directors,nm0085156,nm0714557,nm0846879,"nm0877783,nm0091767","nm0550220,nm0063413"
new_writers,nm0085156,\N,nm0846879,"nm0000875,nm0877783",nm0049370

In [12]:
crew[['directors_1','directors_2']] = crew.new_directors.str.split(",",expand=True,)
crew[['writers_1','writers_2']] = crew.new_writers.str.split(",",expand=True,)

In [13]:
crew = crew.drop(['directors','writers','new_directors','new_writers'], axis = 1)

In [14]:
crew.head().T

,8,145,571,673,1173
tconst,tt0000009,tt0000147,tt0000574,tt0000679,tt0001184
Unnamed: 0,0,1,2,3,4
Unnamed: 0.1,8,145,571,673,1173
startYear,1894,1897,1906,1908,1910
movieyear,1894Miss Jerry,1897The Corbett-Fitzsimmons Fight,1906The Story of the Kelly Gang,1908The Fairylogue and Radio-Plays,1910Don Juan de Serrallonga
averageRating,5.9,5.2,6.1,5,3.1
numVotes,153,346,574,35,11
directors_1,nm0085156,nm0714557,nm0846879,nm0877783,nm0550220
directors_2,None,None,None,nm0091767,nm0063413
writers_1,nm0085156,\N,nm0846879,nm0000875,nm0049370
writers_2,None,None,None,nm0877783,None

In [15]:
crew['rating_num'] = crew['averageRating']*crew['numVotes']

In [16]:
crew.head().T

,8,145,571,673,1173
tconst,tt0000009,tt0000147,tt0000574,tt0000679,tt0001184
Unnamed: 0,0,1,2,3,4
Unnamed: 0.1,8,145,571,673,1173
startYear,1894,1897,1906,1908,1910
movieyear,1894Miss Jerry,1897The Corbett-Fitzsimmons Fight,1906The Story of the Kelly Gang,1908The Fairylogue and Radio-Plays,1910Don Juan de Serrallonga
averageRating,5.9,5.2,6.1,5,3.1
numVotes,153,346,574,35,11
directors_1,nm0085156,nm0714557,nm0846879,nm0877783,nm0550220
directors_2,None,None,None,nm0091767,nm0063413
writers_1,nm0085156,\N,nm0846879,nm0000875,nm0049370
writers_2,None,None,None,nm0877783,None
rating_num,902.7,1799.2,3501.4,175,34.1

In [17]:
crew.to_csv('crew.csv')