## Oscar

In [1]:
# abrir bibliotecas
import pandas as pd
import seaborn as sns
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
from tqdm.auto import tqdm
%matplotlib inline

In [2]:
oscar = pd.read_csv('C:/Users/afilg/OneDrive/√Årea de Trabalho/DATA SCIENCE/Aulas - Originais/Projeto_Integrador/Dados/the_oscar_award.csv', engine = 'python', encoding = 'utf8')

In [3]:
oscar.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

In [4]:
oscar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10395 entries, 0 to 10394
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year_film      10395 non-null  int64
 1   year_ceremony  10395 non-null  int64
 2   ceremony       10395 non-null  int64
 3   category       10395 non-null  object
 4   name           10395 non-null  object
 5   film           10091 non-null  object
 6   winner         10395 non-null  bool
dtypes: bool(1), int64(3), object(3)
memory usage: 497.5+ KB

In [5]:
oscar['movieyear'] = oscar.year_film.astype(str) + oscar.film

In [6]:
oscar.category.value_counts()

DIRECTING                                    449
FILM EDITING                                 430
ACTOR IN A SUPPORTING ROLE                   420
ACTRESS IN A SUPPORTING ROLE                 420
DOCUMENTARY (Short Subject)                  368
                                            ...
DIRECTING (Dramatic Picture)                   3
DIRECTING (Comedy Picture)                     2
SPECIAL FOREIGN LANGUAGE FILM AWARD            2
SPECIAL ACHIEVEMENT AWARD (Sound Effects)      1
SPECIAL ACHIEVEMENT AWARD (Sound Editing)      1
Name: category, Length: 111, dtype: int64

In [7]:
oscar2000 = oscar[oscar.year_ceremony >= 2000]

In [8]:
a = oscar2000.category.value_counts()

len(a)

35

In [9]:
oscar2000.category.value_counts()

BEST PICTURE                                                               148
SHORT FILM (Live Action)                                                   105
FILM EDITING                                                               105
ACTOR IN A SUPPORTING ROLE                                                 105
COSTUME DESIGN                                                             105
MUSIC (Original Score)                                                     105
CINEMATOGRAPHY                                                             105
ACTRESS IN A SUPPORTING ROLE                                               105
DIRECTING                                                                  105
ACTRESS IN A LEADING ROLE                                                  105
DOCUMENTARY (Feature)                                                      105
ACTOR IN A LEADING ROLE                                                    105
SHORT FILM (Animated)                                                      103
FOREIGN LANGUAGE FILM                                                      100
MUSIC (Original Song)                                                       97
DOCUMENTARY (Short Subject)                                                 94
WRITING (Original Screenplay)                                               90
WRITING (Adapted Screenplay)                                                90
SOUND EDITING                                                               86
SOUND MIXING                                                                85
VISUAL EFFECTS                                                              83
ANIMATED FEATURE FILM                                                       79
ART DIRECTION                                                               65
HONORARY AWARD                                                              44
PRODUCTION DESIGN                                                           40
MAKEUP                                                                      39
MAKEUP AND HAIRSTYLING                                                      26
SOUND                                                                       20
WRITING (Screenplay Based on Material Previously Produced or Published)     15
WRITING (Screenplay Written Directly for the Screen)                        15
JEAN HERSHOLT HUMANITARIAN AWARD                                            10
INTERNATIONAL FEATURE FILM                                                   5
IRVING G. THALBERG MEMORIAL AWARD                                            5
SOUND EFFECTS EDITING                                                        3
SPECIAL AWARD                                                                1
Name: category, dtype: int64

In [10]:
def premium(premio):
    premium = ['BEST PICTURE','DIRECTING','ACTRESS IN A SUPPORTING ROLE','ACTRESS IN A LEADING ROLE','ACTOR IN A SUPPORTING ROLE','ACTOR IN A LEADING ROLE']
    if premio in premium:
        a = "premium"
        return a
    else:
        a = 'not premium'
        return a

In [11]:
tqdm.pandas()

oscar2000['premium'] = oscar2000.progress_apply(lambda x: premium(x['category']),axis = 1)

C:\Users\afilg\anaconda3\lib\site-packages\tqdm\std.py:658: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

HBox(children=(FloatProgress(value=0.0, max=2498.0), HTML(value='')))

C:\Users\afilg\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
oscar2000.head()

,year_film,year_ceremony,ceremony,category,name,film,winner,movieyear,premium
7897,1999,2000,72,ACTOR IN A LEADING ROLE,Russell Crowe,The Insider,False,1999The Insider,premium
7898,1999,2000,72,ACTOR IN A LEADING ROLE,Richard Farnsworth,The Straight Story,False,1999The Straight Story,premium
7899,1999,2000,72,ACTOR IN A LEADING ROLE,Sean Penn,Sweet and Lowdown,False,1999Sweet and Lowdown,premium
7900,1999,2000,72,ACTOR IN A LEADING ROLE,Kevin Spacey,American Beauty,True,1999American Beauty,premium
7901,1999,2000,72,ACTOR IN A LEADING ROLE,Denzel Washington,The Hurricane,False,1999The Hurricane,premium

In [19]:
df_pivot= pd.DataFrame(pd.pivot_table(oscar2000, 
                         values='ceremony', 
                         index='movieyear', 
                         columns = ('premium','winner'),
                         aggfunc='count',
                        fill_value = 0))

df_pivot

premium                   not premium       premium
winner                          False True    False True
movieyear
19993 Misses                        1     0       0     0
1999All about My Mother             0     1       0     0
1999American Beauty                 2     2       1     3
1999Angela's Ashes                  1     0       0     0
1999Anna and the King               2     0       0     0
...                               ...   ...     ...   ...
2019The Lion King                   1     0       0     0
2019The Neighbors' Window           0     1       0     0
2019The Two Popes                   1     0       2     0
2019Toy Story 4                     1     1       0     0
2019Walk Run Cha-Cha                1     0       0     0

[1164 rows x 4 columns]

In [21]:
df_pivot = df_pivot.reset_index()

In [22]:
df_pivot

premium                  movieyear not premium      premium
winner                                   False True   False True
0                     19993 Misses           1    0       0    0
1          1999All about My Mother           0    1       0    0
2              1999American Beauty           2    2       1    3
3               1999Angela's Ashes           1    0       0    0
4            1999Anna and the King           2    0       0    0
...                            ...         ...  ...     ...  ...
1159             2019The Lion King           1    0       0    0
1160     2019The Neighbors' Window           0    1       0    0
1161             2019The Two Popes           1    0       2    0
1162               2019Toy Story 4           1    1       0    0
1163          2019Walk Run Cha-Cha           1    0       0    0

[1164 rows x 5 columns]

In [24]:
basics = pd.read_csv('C:/Users/afilg/OneDrive/DATA SCIENCE/Aulas - Originais/Projeto_Integrador/basics.csv')

In [ ]:
import difflib

tqdm.pandas()

df_pivot['movieyear_id'] = df_pivot['movieyear'].progress_apply(lambda x: (difflib.get_close_matches(x, basics['movieyear'])[:1] or [None])[0])

C:\Users\afilg\anaconda3\lib\site-packages\tqdm\std.py:658: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

HBox(children=(FloatProgress(value=0.0, max=1164.0), HTML(value='')))

In [ ]:
df_pivot