## Principals

In [1]:
# abrir bibliotecas
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
principals = pd.read_csv('C:/Users/afilg/OneDrive/√Årea de Trabalho/DATA SCIENCE/Aulas - Originais/Projeto_Integrador/Dados/principals.tsv', header=0 , quotechar='"', error_bad_lines=False, sep = '\t')
principals.head().T

,0,1,2,3,4
tconst,tt0000001,tt0000001,tt0000001,tt0000002,tt0000002
ordering,1,2,3,1,2
nconst,nm1588970,nm0005690,nm0374658,nm0721526,nm1335271
category,self,director,cinematographer,director,composer
job,\N,\N,director of photography,\N,\N
characters,"[""Self""]",\N,\N,\N,\N

In [3]:
basics_simple = pd.read_csv('C:/Users/afilg/OneDrive/DATA SCIENCE/Aulas - Originais/Projeto_Integrador/basics_simple.csv')

In [4]:
principals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39422894 entries, 0 to 39422893
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   tconst      object
 1   ordering    int64
 2   nconst      object
 3   category    object
 4   job         object
 5   characters  object
dtypes: int64(1), object(5)
memory usage: 1.8+ GB

In [5]:
principals.category.value_counts()

actor                  9108466
actress                6817848
self                   6640369
writer                 5246904
director               4554800
producer               2398375
composer               1414915
cinematographer        1395989
editor                 1313777
production_designer     297775
archive_footage         231293
archive_sound             2383
Name: category, dtype: int64

In [6]:
N = 39422894
principals['index_create'] = range(1, N + 1 ,1)

In [7]:
principals['index_create'] = principals['index_create'].astype(str)

In [8]:
principals = principals.join(basics_simple.set_index('tconst'), on = 'tconst' , how = 'inner')

In [9]:
principals
principals = principals.drop(['job','characters'], axis = 1)

In [10]:
principals.head()

,tconst,ordering,nconst,category,index_create,Unnamed: 0,Unnamed: 0.1,startYear,movieyear,averageRating,numVotes
24,tt0000009,1,nm0063086,actress,25,0,8,1894,1894Miss Jerry,5.9,153
25,tt0000009,2,nm0183823,actor,26,0,8,1894,1894Miss Jerry,5.9,153
26,tt0000009,3,nm1309758,actor,27,0,8,1894,1894Miss Jerry,5.9,153
27,tt0000009,4,nm0085156,director,28,0,8,1894,1894Miss Jerry,5.9,153
252,tt0000147,1,nm0179163,self,253,1,145,1897,1897The Corbett-Fitzsimmons Fight,5.2,346

In [11]:
num_crew = pd.DataFrame(pd.pivot_table(principals, 
                      values='index_create', 
                      index='tconst', 
                      columns='category',
                      aggfunc='count',
                                      margins = True))

In [12]:
num_crew = num_crew.reset_index()
num_crew.head()

category,tconst,actor,actress,archive_footage,archive_sound,cinematographer,composer,director,editor,producer,production_designer,self,writer,All
0,tt0000009,2.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,4
1,tt0000147,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,5.0,NaN,7
2,tt0000574,2.0,2.0,NaN,NaN,1.0,1.0,1.0,NaN,3.0,NaN,NaN,NaN,10
3,tt0000679,4.0,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,7
4,tt0001184,1.0,1.0,NaN,NaN,1.0,NaN,2.0,NaN,NaN,NaN,NaN,1.0,6

In [13]:
num_crew = num_crew.drop(['actor','actress','archive_footage','archive_sound','cinematographer','composer','director','editor','producer','production_designer','self','writer'], axis = 1)

In [29]:
num_crew = num_crew.rename({'All':'num_crew'}, axis = 1)

In [14]:
principals_actors = principals[(principals.category == 'actor')|(principals.category == 'actress')]

In [15]:
principals_actors.head()

,tconst,ordering,nconst,category,index_create,Unnamed: 0,Unnamed: 0.1,startYear,movieyear,averageRating,numVotes
24,tt0000009,1,nm0063086,actress,25,0,8,1894,1894Miss Jerry,5.9,153
25,tt0000009,2,nm0183823,actor,26,0,8,1894,1894Miss Jerry,5.9,153
26,tt0000009,3,nm1309758,actor,27,0,8,1894,1894Miss Jerry,5.9,153
1039,tt0000574,1,nm0846887,actress,1040,2,571,1906,1906The Story of the Kelly Gang,6.1,574
1040,tt0000574,2,nm0846894,actor,1041,2,571,1906,1906The Story of the Kelly Gang,6.1,574

In [16]:
principals_actors.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 793459 entries, 24 to 39422014
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         793459 non-null  object
 1   ordering       793459 non-null  int64
 2   nconst         793459 non-null  object
 3   category       793459 non-null  object
 4   index_create   793459 non-null  object
 5   Unnamed: 0     793459 non-null  int64
 6   Unnamed: 0.1   793459 non-null  int64
 7   startYear      793459 non-null  int64
 8   movieyear      793459 non-null  object
 9   averageRating  793459 non-null  float64
 10  numVotes       793459 non-null  int64
dtypes: float64(1), int64(5), object(5)
memory usage: 72.6+ MB

In [17]:
principals_actors['rating_num'] = principals_actors['averageRating']*principals_actors['numVotes']

C:\Users\afilg\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
principals_actors.head()

,tconst,ordering,nconst,category,index_create,Unnamed: 0,Unnamed: 0.1,startYear,movieyear,averageRating,numVotes,rating_num
24,tt0000009,1,nm0063086,actress,25,0,8,1894,1894Miss Jerry,5.9,153,902.7
25,tt0000009,2,nm0183823,actor,26,0,8,1894,1894Miss Jerry,5.9,153,902.7
26,tt0000009,3,nm1309758,actor,27,0,8,1894,1894Miss Jerry,5.9,153,902.7
1039,tt0000574,1,nm0846887,actress,1040,2,571,1906,1906The Story of the Kelly Gang,6.1,574,3501.4
1040,tt0000574,2,nm0846894,actor,1041,2,571,1906,1906The Story of the Kelly Gang,6.1,574,3501.4

In [19]:
principals_actors = principals_actors[principals_actors.startYear>=2000]

In [20]:
principals_temp = principals_actors.loc[:,['tconst','nconst','startYear','rating_num','numVotes']]

In [21]:
principals_temp.head()

           tconst     nconst  startYear  rating_num  numVotes
122244  tt0016906  nm0530110       2014        84.0        15
122245  tt0016906  nm0022209       2014        84.0        15
122246  tt0016906  nm0069354       2014        84.0        15
122247  tt0016906  nm0127480       2014        84.0        15
122248  tt0016906  nm0002816       2014        84.0        15

In [22]:
principals_temp.shape

(388937, 5)

In [30]:
principals_temp_export = principals_temp.join(num_crew.set_index('tconst'), on = 'tconst')

In [31]:
principals_temp_export.head()

           tconst     nconst  startYear  rating_num  numVotes  num_crew
122244  tt0016906  nm0530110       2014        84.0        15        10
122245  tt0016906  nm0022209       2014        84.0        15        10
122246  tt0016906  nm0069354       2014        84.0        15        10
122247  tt0016906  nm0127480       2014        84.0        15        10
122248  tt0016906  nm0002816       2014        84.0        15        10

In [32]:
principals_temp_export.to_csv('principals.csv')