# Reviews

In [2]:
# abrir bibliotecas
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
ratings = pd.read_csv('C:/Users/afilg/OneDrive/√Årea de Trabalho/DATA SCIENCE/Aulas - Originais/Projeto_Integrador/Dados/ratings.tsv', header=0 , quotechar='"', error_bad_lines=False, sep = '\t')
ratings.head().T

                       0          1          2          3          4
tconst         tt0000001  tt0000002  tt0000003  tt0000004  tt0000005
averageRating        5.6          6        6.5        6.1        6.1
numVotes            1616        197       1297        121       2075

In [5]:
basics = pd.read_csv('C:/Users/afilg/OneDrive/DATA SCIENCE/Aulas - Originais/Projeto_Integrador/basics.csv')

In [6]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044000 entries, 0 to 1043999
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1044000 non-null  object
 1   averageRating  1044000 non-null  float64
 2   numVotes       1044000 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.9+ MB

In [7]:
basics_simple = basics.join(ratings.set_index('tconst'), on = 'tconst', how = 'inner')

In [8]:
basics_simple.head().T

,0,1,2,3,4
Unnamed: 0,8,145,571,673,1173
tconst,tt0000009,tt0000147,tt0000574,tt0000679,tt0001184
titleType,movie,movie,movie,movie,movie
primaryTitle,Miss Jerry,The Corbett-Fitzsimmons Fight,The Story of the Kelly Gang,The Fairylogue and Radio-Plays,Don Juan de Serrallonga
originalTitle,Miss Jerry,The Corbett-Fitzsimmons Fight,The Story of the Kelly Gang,The Fairylogue and Radio-Plays,Don Juan de Serrallonga
startYear,1894,1897,1906,1908,1910
runtimeMinutes,45,20,70,120,58
genre_1,Romance,Documentary,Biography,Adventure,Adventure
genre_2,NaN,News,Crime,Fantasy,Drama
genre_3,NaN,Sport,Drama,NaN,NaN
movieyear,1894Miss Jerry,1897The Corbett-Fitzsimmons Fight,1906The Story of the Kelly Gang,1908The Fairylogue and Radio-Plays,1910Don Juan de Serrallonga
averageRating,5.9,5.2,6.1,5,3.1
numVotes,153,346,574,35,11

In [9]:
basics_simple = basics_simple.drop(['titleType','primaryTitle','originalTitle','runtimeMinutes', 'genre_1','genre_2','genre_3'], axis = 1)

In [10]:
basics_simple.head().T

,0,1,2,3,4
Unnamed: 0,8,145,571,673,1173
tconst,tt0000009,tt0000147,tt0000574,tt0000679,tt0001184
startYear,1894,1897,1906,1908,1910
movieyear,1894Miss Jerry,1897The Corbett-Fitzsimmons Fight,1906The Story of the Kelly Gang,1908The Fairylogue and Radio-Plays,1910Don Juan de Serrallonga
averageRating,5.9,5.2,6.1,5,3.1
numVotes,153,346,574,35,11

In [11]:
basics_simple.to_csv('basics_simple.csv')